<html>
  <head>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
  </head>
  <body>
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-6 p-0 h-100 bg-light text-center">
          <img src="../../assets/images/logo@1x.png" class="mt-5" style="height:68px;">
          <h2>Checklist</h2>
          <h1 class="clock mt-4"></h1>
        </div>
        <div class="col-6 p-0 h-100 text-right bg-light overflow-hidden">
          <img src="https://source.unsplash.com/random/800x600" class="h-100">
        </div>
      </div>
    </div>

    <script>window.$ = window.jQuery = require('jquery')</script>
    <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>