<html>
  <head>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
  </head>
  <body>
    <div class="container-fluidv p-0">
      <ul class="list-group list-group-flush"></ul>
    </div>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body text-center font-weight-bold">
            <span>Checklist complete</span>
          </div>
        </div>
      </div>
    </div>

    <script>window.$ = window.jQuery = require('jquery')</script>
    <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>